{% extends "accounts/_auth_base.html" %}
{% load i18n %}
{% block title %}{% trans "Password updated" %} | Luxury Smart Apartments{% endblock %}
{% block aside_eyebrow %}{% trans "All set" %}{% endblock %}
{% block aside_heading %}{% trans "Your password is updated" %}{% endblock %}
{% block aside_copy %}{% trans "Sign in and your bookings are waiting where you left them." %}{% endblock %}
{% block panel_eyebrow %}{% trans "Password" %}{% endblock %}
{% block panel_heading %}{% trans "Your password is updated" %}{% endblock %}
{% block panel_copy %}{% trans "You can sign in with your new password now." %}{% endblock %}
{% block panel_body %}
<p class="auth-panel__aside-link">
    <a class="button button--gold auth-form__submit" href="{% url 'accounts:login' %}">
        {% trans "Sign in" %}<span aria-hidden="true">↗</span>
    </a>
</p>
{% endblock %}
